* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f4f4f4e9;

}

/* Header Styling Started */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 20px;



}

.left {
  max-width: 500px;
  margin-right: 60px;
}

.left h1 {
  color: #1877f2;
  font-size: 60px;

 }

.create:hover{
  background-color: #36a420;
  color: #fff;
}

.login:hover {
  background-color: #166fe5;
  color: #fff;
}

.left p {
  font-size: 24px;
  margin-top: 38px;
}

.right {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 390px;
  box-shadow:rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(42, 42, 42, 0.1) 0px 8px 16px 0px;
}

.right input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 12px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 17px;
  
}

.login {
  width: 100%;
  background-color: #1877f2;
  color: #fff;
  padding: 14px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.forgot {
  display: block;
  text-align: center;
  margin: 16px 0;
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
}

 .forgot:hover {
  text-decoration: underline;
}

.right hr {
  border-top: 1px solid #dadde1;
  margin: 20px 0;
  width: 100%
}

.create {
  width: 60%;
  margin-left: 63px;
  background-color: #42b72a;
  color: #fff;
  padding: 14px;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}

.create-page {
  text-align: center;
  margin: 20px;
  font-size: 14px;
  color: #1c1e21;

  
}

.create-page a {
  font-weight: bolder;
  text-decoration: none;
  color: #000;
  
}

.create-page a:hover {
  text-decoration: underline;
}



.background {
  background-color: rgb(255, 253, 253);
  color: rgb(184, 183, 183);
  font-weight: lighter;
  font-size: small;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
   
  }

  .left {
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
   
  }
}

/* Header Styling Ended */

/* Footer Style Started */

.footer {
  background-color: #757575;
  font-family: sans-serif;
  font-size: 14px;
 
}

.padding {
  padding-left: 18%;
  padding-right: 0%;
} 

.hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.flex {
  display: flex;
 flex-wrap: wrap;
   }

.flex h5 {
  margin: 5px 10px;
}

.hover h5 a {
  text-decoration: none;
  color: #666666;
}

.hover h5 a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.footer hr {
  margin: 10px;
  border-top:1px solid rgba(82, 82, 82, 0.364);
  width: 77%;
  margin : 0 0 0 8px ;
  display: block;

}

@media (max-width: 768px) {
  .flex {
    justify-content: center;
    text-align: center;
    margin-right: 20%;


    
}




}

@media (max-width: 480px) {
  .flex h5 {
    flex: 1 1;
    text-align: center;
 
    
  }
}

/* Footer Style Ended */